.Rhistory
.vscode
__pycache__

dane73.txt
Fala.png

62.jpg
dane62a.txt
dane62b.txt

67.jpg
yikes.py

dane57.txt
57.jpg
57cd.jpg
R13.pdf
LnR.pdf

dane61a.txt
dane61bc.txt
61.jpg
61a.txt
61bc.txt
M=f(b).pdf
